* {
	margin: 0;
	padding: 0;
}

.card2 {
	width: 30%;
	margin: auto;
	margin-top: 40px;
	box-shadow: 0 15px 17px rgba(0, 0, 0, 0.04);
	padding: 10px;
}

.card {
	width: 80%;
	margin: auto;
	margin-top: 40px;
	box-shadow: 0 15px 17px rgba(0, 0, 0, 0.04);
	padding: 10px;
}

.card p {
	color: #aaa;
	font-size: 30px;
}

.card hr {
	margin-top: 10px;
	background: #aaa;
}

.input-checkbox {
	padding: 10px;
	display: flex;
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

.input-checkbox p {
	font-size: 15px;
	color: black;
	margin-left: 10px;
}

button {
	width: 100%;
	margin-top: 10px;
	padding: 15px;
	background-color: deepskyblue;
	border: none;
	color: white;
}

button:hover {
	background-color: rgb(87, 212, 253);
	cursor: pointer;
}
button:active {
	background-color: red;
}

.card img,
.card2 img {
	width: 100%;
}

.card h1 {
	text-align: center;
	margin: 25px 0;
}

.card table {
	text-align: center;
	width: 90%;
	margin: auto;
}

.card table th {
	background-color: teal;
	color: white;
}

.card table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.card form input {
	width: 100%;
	margin-bottom: 10px;
	height: 50px;
}

nav {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.nav-light {
	background-color: teal;
}

.nav-dark {
	background-color: rgb(0, 46, 46);
}

.linkNav {
	text-decoration: none;
	color: white;
	margin: 0 10px;
}

.linkNav:hover {
	text-decoration: underline;
	font-weight: bold;
}

.btn-list {
	background-color: white;
	border: 1px solid teal;
	text-decoration: none;
	color: teal;
	padding: 10px;
	margin-left: 57px;
	margin-bottom: 20px;
	width: auto;
}

.btn-form {
	background-color: white;
	border: 1px solid teal;
	color: teal;
	padding: 10px;
}

.btn-list:hover,
.btn-form:hover {
	background-color: teal;
	color: white;
}

.btn-darkMode {
	border-radius: 20px;
	margin: auto;
}

.btn-dark {
	background-color: rgb(0, 46, 46);
}

.btn-dark:hover {
	background-color: rgb(0, 92, 92);
	cursor: pointer;
}
.btn-dark:active {
	background-color: rgb(0, 92, 92);
}

.btn-light {
	background-color: teal;
}

.btn-light:hover {
	background-color: rgb(5, 179, 179);
	cursor: pointer;
}
.btn-light:active {
	background-color: rgb(5, 179, 179);
}
